<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calorie Tracker I/O Application</title>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary";>
      <a class="navbar-brand" style="margin-left: 10px" href="/">Calorie Tracker List</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/manage">Edit Meals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/create">Add Meal</a>
        </li>
      </ul>
    </nav>
</body>
</html>